.dr_label,
.dr_headline {
    color: var(--primary);
    font-weight: 500;
}

.dr_hr {
    Width: 100%;
    opacity: .5;
    border-color: var(--secondary);
}

.dr_label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dr_input {
    Width: 100%;
}

.dr_link_primary {
    text-decoration: none;
    color: var(--secondary-accent);
    transition: color 0.25s ease;
}

.dr_link_primary:hover {
    color: var(--primary);
}

[class*="dr_btn"] {
    display: flex;
    justify-content: center;
    line-height: 1.8;
    height: var(--dr-elm-height);
    padding-inline: var(--dr-elm-padding-inline);
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.25s ease, color 0.25s ease;
}

.dr_btn_primary {
    color: var(--primary-accent);
    background: var(--primary);
}

.dr_btn_primary:hover {
    color: var(--primary);
    background: var(--primary-accent);
}

.dr_btn_secondary {
    color: var(--secondary-accent);
    background: var(--secondary);
}

.dr_btn_secondary:hover {
    color: var(--primary-accent);
    background: var(--primary);
}



[class*="dr_icon_btn"] {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.25s ease, color 0.25s ease, transform 0.5s ease;
}

[class*="dr_icon_btn"]:hover {
    color: var(--secondary-accent);
    background: var(--secondary);
}

.dr_icon_chevron_down:after,
.dr_icon_chevron_up:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cmask id='a' width='24' height='25' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M0 .5h24v24H0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%231C1B1F' d='m12 16.9-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4-6 6Z'/%3E%3C/g%3E%3C/svg%3E");
}

.dr_icon_chevron_up:after {
    transform: rotate(180deg);
}

:root {
    --dr-elm-posX: 1rem;
    --dr-elm-posY: calc(180px - 14px);
}

.dr_OKC_userNewTabLink {
    position: absolute;
    top: var(--dr-elm-posY);
    right: var(--dr-elm-posX);
    width: var(--dr-elm-height);
    height: var(--dr-elm-height);
    border-radius: 1rem;
    transition: background 0.25s ease;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23aa00cc' d='M5 21c-.55 0-1.02-.196-1.413-.587A1.926 1.926 0 0 1 3 19V5c0-.55.196-1.02.587-1.413A1.926 1.926 0 0 1 5 3h7v2H5v14h14v-7h2v7c0 .55-.196 1.02-.587 1.413A1.926 1.926 0 0 1 19 21H5Zm4.7-5.3-1.4-1.4L17.6 5H14V3h7v7h-2V6.4l-9.3 9.3Z'/%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.dr_OKC_userNewTabLink:hover {
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23ffffff' d='M5 21c-.55 0-1.02-.196-1.413-.587A1.926 1.926 0 0 1 3 19V5c0-.55.196-1.02.587-1.413A1.926 1.926 0 0 1 5 3h7v2H5v14h14v-7h2v7c0 .55-.196 1.02-.587 1.413A1.926 1.926 0 0 1 19 21H5Zm4.7-5.3-1.4-1.4L17.6 5H14V3h7v7h-2V6.4l-9.3 9.3Z'/%3E%3C/svg%3E");

}

.dr_OKC_matchPercent {
    position: absolute;
    top: var(--dr-elm-posY);
    left: var(--dr-elm-posX);
    height: var(--dr-elm-height);
    display: flex;
    align-items: center;
    padding-inline: var(--dr-elm-padding-inline);
    border-radius: 1rem;
    background-color: white;
    color: var(--primary);
    font-weight: 500;
    font-size: 14px;
}

.dr_OKC_matchPercent.dr_matchHigh {
    color: white;
    background-color: var(--primary);
}
