#dr_UI_wrapper {
    position: fixed;
    bottom: 0.25rem;
    right: 0.25rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    padding-block: 0.5rem 0.75rem;
    padding-inline: var(--dr-elm-padding-inline);
    border: 1px solid var(--secondary);
    width: 280px;
    transition: border-color 0.25s ease;
}

#dr_UI_wrapper:hover {
    border: 1px solid var(--primary);
}

.dr_UI_section {
    display: flex;
    flex-direction: column;
}

.dr_UI_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.dr_UI_body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block-start: 0.5rem;
    transition: max-height 0.25s ease, padding 0.25s ease, margin 0.25s ease;
}

.dr_UI_row {
    position: relative;
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
    align-items: center;
}
.dr_UI_col {
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.dr_UI_row_userImg {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    transition: transform 0.25s ease, margin 0.25s ease;
}

.dr_UI_row_userImg:hover {
    margin: 0.75rem;
    transform: scale(2);
}

.dr_UI_row_btn {
    margin-left: auto;
}

.dr_UI_row:last-child {
    padding-block-end: 1rem;
}
