/* Hide Section if only headline is present */
#dr_UI_section_hiddenUsers:has(#dr_UI_body_hiddenUsers:empty) {
    /*if parent has empty child #dr_UI_body_hiddenUsers hide parent*/
    display: none;
}

#dr_UI_body_hiddenUsers {
    overflow-y: auto;
    max-height: 12rem;
}

#dr_UI_body_tools {
    overflow-y: hidden;
    max-height: 13.5rem;
}

label[for="input_notCity"] {
    padding-block: 0.25rem;
}
