:root {
    --primary: #aa00cc;
    --primary-accent: white;
    --secondary: #f0e6f2;
    --secondary-accent: #2f1b33;
    --error: #f44336;
    --error-accent: white;
    --dr-elm-height: 2rem;
    --dr-elm-padding-inline: 0.75rem;
}