:root {
    --primary: #e00095;
    --primary-accent: white;
    --secondary: #f5eff3;
    --secondary-accent: #331c2b;
    --error: #f44336;
    --error-accent: white;
    --dr-elm-height: 2rem;
    --dr-elm-padding-inline: 0.75rem;
}