/*More discreet superlike button*/
.superlike-button-scene {
    box-shadow: none;
}
.superlike-button-face-back,
.superlike-button-face-front {
    background: linear-gradient(90deg, #6673ff 10%, #8a80ff 90%);
}

/* superlike-btn improve*/
.superlike-button-scene--round, .superlike-button-scene--roundLarge, .superlike-button-scene--roundSmall,
.superlike-button-face-front, .superlike-button-face-back {
    width: 3.5rem;
    height: var(--dr-elm-height);
    margin-block-end: 0.5rem;
}
/* superlike-btn icon size improve*/
.superlike-button-icon--roundSmall {
    width: 18px;
}

/* user image size improvement*/
.userthumb img.userthumb-img {
    width: 13rem;
    margin-top: 0;
}

/* remove image scale on card:hover*/
.userrow-bucket-display-card:hover .userthumb img.userthumb-img {
    transform: none;
}

/* Highlight user city*/
.not_City {
    background-color: var(--primary);
    color: var(--primary-accent);
    padding-inline: 0.25rem;
    border-radius: 4px;
    font-weight: 500;
}

/* Wrapper for Block and Hide buttons in user-cards*/
.dr_OKC_wrapper_blockHide {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.5rem;
    width: 105%;
}

/* overrides to improve OKC UI */

/* user-card-container fix*/
.userrows-content-main {
    left: 0;
}

/* user-card width 224px*/
.userrow-bucket-display-card,
.userrow-bucket-display-card > div:first-child {
    width: 13rem;
    margin-top: 0;
}

/*Improved performance by reduces DOM operations*/
.userrow-bucket-card-link-container {
    contain: content;
}

/* user-card roundeed corners*/
.userrow-bucket-card-link-container {
    border-radius: 1rem;
    transition: transform 0.25s ease;
}

.userrow-bucket-card-link-container:hover {
    transform: scale(1.03);
}

/* user-card user-info vertical spacing */
.userInfo--center {
    padding: 1.25rem 0 !important;
}
