.desktop-dt-content {
    --discover-width: calc(var(--profile-width) * 0.8);

    max-width: var(--discover-width);
}

.desktop-dt-left {
    width: calc((var(--discover-width) - 1rem) * 0.66);
}

.desktop-dt-right {
    width: calc((var(--discover-width) - 1rem) * 0.33);
}