/* Highlight user city*/
.not_City {
    background: var(--error);
    color: var(--error-accent);
    padding-inline: 0.25rem;
    border-radius: 4px;
    font-weight: 500;
}

/* Wrapper for Block and Hide buttons in user-cards*/
.dr_OKC_wrapper_userCard_blockHide {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.5rem;
    width: 105%;
}

/* overrides to improve OKC UI */

/* user-card-container fix*/
.userrows-content-main {
    left: 0;
}

/* user-card width 224px*/
.userrow-bucket-display-card,
.userrow-bucket-display-card > div:first-child {
    width: 13rem;
    margin-top: 0;
}



/* user-card roundeed corners*/
.userrow-bucket-display-card {
    border-radius: 1rem !important;
    overflow: hidden;
    transition: transform 0.25s ease;
}

.userrow-bucket-display-card:hover {
    transform: scale(1.03);
}

/* user-card user-info vertical spacing */
.userInfo--center {
    padding: 1.25rem 0 !important;
}

