/* Remove <aside>*/
main {
    width: 100% !important;
}

main + aside {
    display: none !important;
}

.messenger-main-window {
    box-shadow: 0 0 10px var(--primary) !important;
    transition: width 0.25s ease, height 0.25s ease;
}
